@font-face {
	src: "/fonts/proximanovaregular.ttf";
	font-family: "Proxima Nova";
}

.body {
	font-family: "Proxima Nova";
	box-sizing: border-box;
	color: #333333;
	margin: 0;
}

.container {
	width: 320px;
	margin: 0 auto;
}

.p-gallery-2,
.p-gallery-3,
.p-gallery-4 {
	display: none;
}

.p-gallery-pic {
	height: 220px;
	width: 100%;
	background-size: cover;
}

.p-hero {
	text-align: center;
  background-color: #fff;
 	background-image: url("https://improvemedia3-st.cdn.ngenix.net/uploads/upload/file/47/p-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  padding: 0 0 1px;
}

.p-switchers {
	margin: -7px auto 0;
}

.p-switchers-item {
  width: 62px;
  margin: 0 7px;
  display: inline-block;
  cursor: pointer; 
}

.p-hero-title {
  color: #333333;
  text-align: center;
  font-size: 16px;
  font-weight: bold; 
  margin: 32px 0 0;
  word-spacing: 2px;
}

.p-hero-text {
  margin: 7px 0;
  color: #666666;
  text-align: center;
  line-height: 16px;
  word-spacing: 4px; 
  font-size: 13px;
}

.p-hero-button {
  width: 280px;
  height: 44px;
  color: white;
  background-color: #bd302a;
  border-radius: 3px;
  margin: 26px auto;
  cursor: pointer;
  font-size: 16px;
	line-height: 44px;
}

.p-gallery .flex-control-nav {
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

.p-gallery .flex-control-nav li {
	display: inline-block;
	list-style-type: none;
	margin: 0 7px;
}

.p-gallery .flex-control-paging li a {
	width: 7px;
  height: 7px;
  display: block;
  background: #dadada;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.p-gallery .flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.p-gallery .flex-control-paging li a.flex-active {
  background: #bd302a;
  cursor: default;
}
